<h1 class="text-3xl font-bold mb-4">{{trick.name}}</h1>
<div class="flex flex-col md:flex-row items-center justify-between w-full">
	<div class="md:w-1/2">
		<img id="mainPicture" class="mt-4 rounded shadow-lg w-full max-w-screen-sm md:max-w-full max-h-96 object-contain" src="/uploadedImages/{{trick.images.[0]}}" alt="picture of the trick">
		<video id="mainVideo" class="mt-4 rounded shadow-lg w-full max-w-screen-sm md:max-w-full max-h-96 object-contain" controls>
			<source id="videoSource" src="/uploadedVideos/{{trick.videos.[0]}}" type="video/mp4">
			Your browser does not support the video tag.
		</video>
		{{#if (greaterThan trick.images.length 1)}}
			<div class="flex">
				<p>Other images:</p>
				{{#each trick.images}}
					<button onclick="setContent('{{@index}}', 'image')" class="m-1">
						<img class="mt-4 rounded shadow-lg w-fit max-w-screen-sm md:max-w-full max-h-20 object-contain" src="/uploadedImages/{{this}}" alt="picture of the trick">
					</button>	
				{{/each}}
			</div>
		{{/if}}
		{{#if (greaterThan trick.videos.length 1)}}
			<div class="flex">
				<p>Other videos:</p>
				{{#each trick.videos}}
					<button onclick="setContent('{{@index}}', 'video')" class="m-1">
						<img class="mt-4 rounded shadow-lg w-fit max-w-screen-sm md:max-w-full max-h-20 object-contain" src="/static/video-placeholder.png" alt="Video thumbnail">
					</button>
				{{/each}}
			</div>
		{{/if}}
	</div>
	<aside class="md:w-1/2 md:pl-8">
		<p class="mb-2"><strong>Description:</strong> {{trick.description}}</p>
		<p class="mb-2"><strong>Difficulty:</strong> {{trick.difficulty}}</p>
		<p class="mb-2"><strong>Tags:</strong> {{trick.tags}}</p>
		<p class="mb-2"><strong>Other names:</strong> {{trick.sudonames}}</p>
		{{#if trick.ToTrick}}
			<div>
				<p>to:</p>
				<a href="/trick/{{trick.ToTrick.id}}" class="flex items-center">
				{{#if trick.ToTrick.images.length}}
					<img src="/uploadedImages/{{first trick.ToTrick.images}}" alt={{trick.ToTrick.name}} class="w-12 h-12 rounded-full">
				{{else}}
					<img src="/video-thumbnail/{{first trick.ToTrick.videos}}" alt={{trick.ToTrick.name}} class="w-12 h-12 rounded-full">
				{{/if}}
				{{trick.ToTrick.name}}
				</a>
			</div>
		{{/if}}
		{{#if trick.FromTrick}}
			<div>
				<p>from:</p>
				<a href="/trick/{{trick.FromTrick.id}}" class="flex items-center">
				{{#if trick.FromTrick.images.length}}
					<img src="/uploadedImages/{{first trick.FromTrick.images}}" alt={{trick.FromTrick.name}} class="w-12 h-12 rounded-full">
				{{else}}
					<img src="/video-thumbnail/{{first trick.FromTrick.videos}}" alt={{trick.FromTrick.name}} class="w-12 h-12 rounded-full">
				{{/if}}
				{{trick.fromTrick.name}}
				</a>
			</div>
		{{/if}}
	</aside>
</div>
<a href="/create-transition/?trick={{trick.id}}" class="mt-4 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Add Transition</a>
<a href="/edit-trick/?trick={{trick.id}}" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Edit trick</a>
<button onclick="deleteTrick('{{trick.id}}')" class="mt-4 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete trick</button>

<p>Where to go next:</p>
<div class="flex flex-wrap justify-center">
	{{#each trick.nextTricks}}
		<a href="/trick/{{id}}" class="min-w-0 w-full sm:w-1/2 md:w-1/3 lg:w-1/6 p-2">
			<div class="bg-white p-4 rounded-lg shadow-md">
				{{#if images.length}}
					<img class="w-full h-48 object-contain rounded-t-lg" src="/uploadedImages/{{first images}}" alt="">
				{{else}}
					<img class="w-full h-48 object-contain rounded-t-lg" src="/video-thumbnail/{{first videos}}" alt="">
				{{/if}}
				<h1 class="text-xl font-semibold mt-2">{{name}}</h1>
				<p class="text-gray-600">{{tags}}</p>
			</div>
		</a>
	{{/each}}
</div>

<p>How to get here</p>
<div class="flex flex-wrap justify-center">
	{{#each trick.previousTricks}}
		<a href="/trick/{{id}}" class="min-w-0 w-full sm:w-1/2 md:w-1/3 lg:w-1/6 p-2">
			<div class="bg-white p-4 rounded-lg shadow-md">
				{{#if images.length}}
					<img class="w-full h-48 object-contain rounded-t-lg" src="/uploadedImages/{{first images}}" alt="">
				{{else}}
					<img class="w-full h-48 object-contain rounded-t-lg" src="/video-thumbnail/{{first videos}}" alt="">
				{{/if}}				
				<h1 class="text-xl font-semibold mt-2">{{name}}</h1>
				<p class="text-gray-600">{{tags}}</p>
			</div>
		</a>
	{{/each}}
</div>

<script>
	const mainPicture = document.getElementById('mainPicture');
	const mainVideo = document.getElementById('mainVideo');
	
	if (!'{{trick.images}}') {
		mainPicture.classList.add('hidden');
		mainVideo.classList.remove('hidden');
		if (!'{{trick.videos}}') {
			mainVideo.classList.add('hidden');
		} else {
			mainVideo.classList.remove('hidden');
		}
	}
	if (!'{{trick.videos}}') {
		mainVideo.classList.add('hidden');
	}

	console.log("hii")

	const setContent = async (index, type) => {
		const mainPicture = document.getElementById('mainPicture');
		const mainVideo = document.getElementById('mainVideo');
		const videoSource = document.getElementById('videoSource');

		if (type === 'image') {
			mainPicture.classList.remove('hidden');
			mainVideo.classList.add('hidden');
			const images = '{{trick.images}}'.split(',');
			mainPicture.src = '/uploadedImages/' + images[index];
			mainPicture.alt = 'picture of the trick';
		} else if (type === 'video') {
			mainVideo.classList.remove('hidden');
			mainPicture.classList.add('hidden');
			const videos = '{{trick.videos}}'.split(',');
			videoSource.src = '/uploadedVideos/' + videos[index];
			mainVideo.load(); // Reload the video with the new source
		}
	};

	const deleteTrick = async (trickid) => {
		console.log(trickid)
		if (!confirm('Are you sure you want to delete this trick?') == true) {
			return;
		}
		console.log('hi')
		const response = await fetch(`/deleteTrick/` + trickid, {
			method: 'DELETE',
		});

		if (response.ok) {
			window.location.href = '/tricks';
		}
	};
</script>
